.small-button {
    padding: 5px;
    border: 1px solid rgb(225, 228, 35);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    background-color: gold;
    text-align: center;
    width: 100%;
    max-width: 100%;
    color:darkgreen;
    font-weight: bold;
    margin: 10px;
    box-shadow: 5px 5px yellow;
}

.small-button:hover {
    background-color: rgb(15, 97, 15);
    color:gold;
    box-shadow: 5px 5px  rgb(4, 54, 19);
    text-decoration: none
}


.large-form-box {
    padding: 100px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #73AD21;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    background-color: white;
    text-align: center;

}

.large-input {
    padding: 5px;
    border: 5px solid rgb(224, 212, 35);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 5em;
    color: gold;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color:darkgreen;
    font-weight: bold;
    margin: 10px;
}


.medium-input {
    padding: 5px;
    border: 5px solid rgb(224, 212, 35);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    color: gold;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color:darkgreen;
    font-weight: bold;
    margin: 10px;
}

.large-button {
    padding: 5px;
    border: 5px solid rgb(225, 228, 35);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 3em;
    background-color: gold;
    text-align: center;
    width: 100%;
    max-width: 100%;
    color:darkgreen;
    font-weight: bold;
    margin: 10px;
    box-shadow: 5px 5px yellow;
}
 
.large-button:hover {
    background-color: rgb(15, 97, 15);
    color:gold;
    box-shadow: 5px 5px  rgb(4, 54, 19);
    text-decoration: none
}

.large-label {
    padding: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    background-color: gold;
    text-align: center;
    width: 100%;
    max-width: 100%;
    color:darkgreen;
    font-weight: bold;
}


.medium-label {
    padding: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    background-color: gold;
    text-align: center;
    width: 100%;
    max-width: 100%;
    color:darkgreen;
    font-weight: bold;
}

.medium-button {
    padding: 5px;
    border: 5px solid rgb(225, 228, 35);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 3em;
    background-color: gold;
    text-align: center;
    width: 100%;
    max-width: 100%;
    color:darkgreen;
    font-weight: bold;
    margin: 10px;
    box-shadow: 5px 5px yellow;
}

.very-large-button {
    padding: 5px;
    border: 5px solid rgb(225, 228, 35);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10em;
    background-color: gold;
    text-align: center;
    width: 100%;
    max-width: 100%;
    color:darkgreen;
    font-weight: bold;
    margin: 10px;
    box-shadow: 5px 5px yellow;
}


.large-list-box-100 {
    padding: 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #73AD21;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    background-color: white;
    float: left;
    width: 100%;
    
}


.large-list-box-50 {
    padding: 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #73AD21;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    background-color: white;
    float: left;
    width: 50%;
    
}


.large-list-box-30 {
    padding: 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #73AD21;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    background-color: white;
    float: left;
    width: 30%;
    
}

.large-list-box-70 {
    padding: 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #73AD21;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    background-color: white;
    float: left;
    width: 70%;
    
}


.very-large-list-box-100 {
    padding: 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #73AD21;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 5em;
    background-color: white;
    float: left;
    width: 100%;
    
}