/*------------------------------------------------------------------
AUTHOR: Randy D. Lagdaan
DESCIPTION: TRIUNE - Integrated system for all university processess
MATERIAL: Main Cascading Style Sheet for TRIUNE
DATE CREATED: March 8, 2018
DATE UPDATED: March 9, 2018
--------------------------------------------------------------------*/
body {
    font-family: "Lato", sans-serif;
}

#submitButton {
    background-color: #0a0909a6;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#clearButton {
    background-color: #0a0909a6;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}



div#error-messages {
    color:red; 
    font-size:.8em;
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic;
}

img.progressImageRight {
    height: 5%;
    width: 5%;
    display:none
}
    
i.textBoxMessageAvailableMd {
    display:none; 
    color:green; 
    padding: .5em; 
    font-size:.7em; 
    font-family: Arial, Helvetica, sans-serif; 
}

i.textBoxMessageNotAvailableMd {
    display:none; 
    color:red; 
    padding: .5em; 
    font-size:.7em; 
    font-family: Arial, Helvetica, sans-serif; 
}

b.jQueryFormValidationMessage {
    color:red; 
    padding: 1em; 
    font-size:.7em; 
    font-family: Arial, Helvetica, sans-serif;
}



.navbar-custom {
    background-color: #00562e;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

/* Create three equal columns that floats next to each other */
.three-column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Create three equal columns that floats next to each other */
.two-column {
    float: left;
    width: 50%;
    padding: 5px;
}


/* Create three equal columns that floats next to each other */
.two-column-30 {
    float: left;
    width: 30%;
    padding: 2px;
}

/* Create three equal columns that floats next to each other */
.two-column-70 {
    float: left;
    width: 70%;
    padding: 2px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

div.form-style-1 {
    margin:2px auto;
    max-width:100%;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
}



b.small {
    align-self: center;
    min-width: 80px;
    max-width: 500px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    font-size: 16px


}



#multi-columns:after {
    content: "";
    display: table;
    clear: both;
}

#three-columns {
    float: left;
    width: 33.33%;
    padding: 5px;
}

#two-columns-30 {
    float: left;
    width: 30%;
    padding: 5px;
}
#two-columns-70 {
    float: left;
    width: 70%;
    padding: 5px;
}

#two-columns {
    float: left;
    width: 50%;
    padding: 5px;
}

#one-column {
    width: 100%;
    padding: 5px;
}



.link-btn {
    color: white;
    background: #006400;
    padding: 5px 5px;
    display: inline;
    margin: 5px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}
 
.link-btn:hover {
    background: #90EE90;
    text-decoration: none
}




.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-width: 0 8px 8px 8px;
}
#msg {
    margin-top:100px;
    text-align:center;
    font-size:2em;
}


body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 120;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    overflow-y:scroll;
}



.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  height: 80%
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  



.images_container {
   overflow-x: scroll;
   overflow-y: hidden;
   max-height: 10rem;
   white-space: nowrap;
}

.images_container.thumbnails {
   max-height: 10rem;
}

.images_container img {
   vertical-align: top;
   height: 50rem;
   border: 1px solid green;
   width: 600px;
}

.images_container.thumbnails img {
   height: 10rem;
   width: 60px;
   border: 1px solid black;
}

.handsontable table thead th{
	background-color: green;
	color:white;
	font-weight:bold;
	font-size:15px;
    font-family: "Comic Sans MS", cursive, sans-serif; 

	
}